// Colors
$greenOn: #34CA49;
$grayOff: #aaa;

// Mixins
@mixin toggle($color){
	background-color: $color;
	color: #fff;
	display: none;
}

// Main Styles
*{
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow-x: hidden;
	font-family: sans-serif;
}

#container{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;

	header{
		background-color: #444;
		color: #ddd;
		display: flex;
		align-items: center;

		.logo img{
			width: 90%;
		}

		.headerTxt{
			flex-grow: 1;
			text-align: center;

			h1{
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				font-size: 1.4rem;
				letter-spacing: 0.4rem;
			}
		}
	}

	hr{
		width: 90%;
		margin: 20px auto;
	}

	section{
		padding-bottom: 100px;

		.option{
			padding: 1.2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:hover{
				background-color: #ddd;
			}

			.optionLabel{
				h2{
					margin: 0 0 0.6rem 0;
					padding: 0;
					font-size: 1.3rem;
				}

				p{
					margin: 0;
					padding: 0;
					font-size: 1.2rem;

					.streamerName{
						font-weight: bold;
					}
				}
			}

			.optionButtons{
				label{
					.btn{
						cursor: pointer;
						border: 2px solid #fff;
						width: 70px;
						text-align: center;
						padding: 0.7rem 0;
						font-size: 1.4rem;
						border-radius: 8px;
					}

					.toggleOn{
						@include toggle($greenOn);
					}

					.toggleOff{
						@include toggle($grayOff);
					}

					.checked{
						display: inline-block;
					}
				}
			}
		}
	}

	footer{
		position: absolute;
		bottom: 0;
		right: 5px;
		color: #bbb;
		font-size: 0.7rem;

		.footerTxt{
			border-bottom: solid 1px #bbb;

			.dev{
				font-weight: 500;
				color: #aaa;
			}
		}
	}
}